[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "mons"]
	path = mons
	url = https://github.com/Ventto/mons.git
[submodule "eww"]
	path = eww
	url = https://github.com/elkowar/eww.git
