urxvt*font:        xft:Fira Code:size=11
urxvt*depth:       32
urxvt*background:  [75]#2f2f2f 
urxvt*foreground:  #c6c6c6
urxvt*scrollBar:   false

!! colors
! black
URxvt.color0:      #212121
URxvt.color8:      #3d3d3d
! red
URxvt.color1:      #ea51b2
URxvt.color9:      #b45bcf
! green
URxvt.color2:      #32cd32
URxvt.color10:     #00ff7f
! yellow
URxvt.color3:      #ffd700
URxvt.color11:     #ffff00
! blue
URxvt.color4:      #1e90ff
URxvt.color12:     #62d6e8
! magenta
URxvt.color5:      #a1268e
URxvt.color13:     #dab2d3
! cyan
URxvt.color6:      #00ffff
URxvt.color14:     #00ced1
! white
URxvt.color7:      #f8f2f2
URxvt.color15:     #d5cad7
