/** Variables*****************************************/
$background: #282a36;
$currentLine: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;
$gray: #44475a;

$font: 'FiraCode Nerd Font';

/** Global *******************************************/
* {
	all: unset;
	font-family: $font;
	color: $comment;
}
.cyan, .cyan * {
    color: $cyan;
}
.green, .green * {
    color: $green;
}
.orange, .orange * {
    color: $orange;
}
.pink, .pink * {
    color: $pink;
}
.purple, .purple * {
    color: $purple;
}
.red, .red * {
    color: $red;
}
.yellow, .yellow * {
    color: $yellow;
}
.gray, .gray * {
    color: $gray;
}

/** Dashboard ***************************************/
.dashboard {
	opacity: 1;
}
.dashboard * {
	font-size: 16px;
}
.dashboard .small, .dashboard .small * {
	font-size: 0.8em;
}
.dashboard .big, .dashboard .big * {
	font-size: 1.2em;
}
.dashboard .large, .dashboard .large * {
	font-size: 1.5em;
}
.dashboard .huge, .dashboard .huge * {
	font-size: 1.8em;
}
.dashboard .icon, .dashboard .icon * {
	font-size: 24px;
	font-weight: normal;
}

/** Bar ***********************************************/
.bar {
	background-color: $background;
}
.bar .icon, .bar .icon * {
	font-size: 18px;
	font-weight: normal;
}
.bar .btn {
    margin: 2px;
}
.bar .box {
    margin: 2px;
}

/** Box ***********************************************/
.dashboard .box {
	background-color: $background;
	border-radius: 16px;
	margin: 5px;
	min-width: 2em;
	min-height: 2em;
}

/** System ********************************************/
.metric .icon {
    padding: 1em ;
}
.metric {
    background-color: $currentLine;
}

.red > trough > progress {
    background-color: $red;
}
.green > trough > progress {
    background-color: $green;
}
.orange > trough > progress {
    background-color: $orange;
}
progressbar > trough > progress {
    min-height: 1.5em;
    border-radius: 3px;
}
progressbar > trough {
    min-width: 50px;
    min-height: 1.5em;
    background-color: $currentLine;
    border-radius: 3px;
}
progressbar {
    padding: .5em;
}

/** network ***************************************/
.if .status * {
    color: $currentLine;
    margin: 0px 5px;
}
.if .icon {
    min-width: 20px;
}
.if .status.connected * {
    color: $green;
}
.if .status.disconnected * {
    color: $red;
}
.if .info * {
    color: $comment;
}
.net {
    padding: 16px;
}
.net * {
    color: $cyan;
}

/** vmware ***************************************/
.vm.icon {
	min-width: 40px;
	min-height: 40px;
}
.vm.icon * {
    color: $currentLine;
}
.vm.icon.stop.true * {
	color: $red;
}
.vm.icon.reset.true * {
	color: $orange;
}
.vm.icon.suspend.true * {
	color: $purple;
}
.vm.icon.pause.true * {
	color: $cyan;
}
.vm.icon.run * {
	color: $green;
}
.vmInfo {
    color: $comment;
}
.vmName {
    color: $cyan;
}
.vmName.true {
    color: $green;
}
